{{ define "main" }}
<article style="background-image: url('bg_index.jpg');" class="text-left text-gray-700">
    <h1 class="font-sans font-semibold text-2xl pt-40 ml-64 text-black-500">I am</h1>
    <h2 class="font-sans font-semibold text-5xl mt-2 ml-64 text-black-500">Ching-Chu Hsu</h2>
    <h3 class="font-sans text-3xl mt-8 ml-64 text-black-500 pb-24">A Data Analyst.</h3>
    <a href="https://www.chingchuhsu.com/portfolio/" class="font-sans font-semibold text-2xl ml-64 uppercase hover:bg-red-400 bg-green-400 text-white py-4 px-8 border rounded">My Portfolio</a>
</article>

{{ end }}

